.stop_watch {
  padding-bottom: 20px;
  padding-top: 20px;
}

.stop_watch .stop_watch_history {
  grid-area: times;
  position: relative;
  overflow-y: scroll;
  height: 400px;
  width: 100%;
  margin-block-start: auto;
  text-align: -webkit-center;
}