[data-theme='dark'] {
  --background: #34332F;
  --nav-background: #2A2925;
  --text-primary: #D6CFBF;
  --text-secondary: #DFAA12;
  --accent-background: #484742;
  --icon: #636055;
  --mili-sec: #e42a2a;
}