:root {
  --background: #FFFBF3;
  --nav-background: #EAE6DE;
  --nav-background: #30312C;
  --text-primary: #0D0C0A;
  --text-secondary: #F5DB4C;
  --accent-background: #F3F0E8;
  --icon: #0D0C0A;
}
