@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  list-style: none;
  color: var(--text-primary);
}

button {
  background: none;
  border: none
}

.container {
  display: grid;
  width: 100%;
  max-height: 100%;
  min-height: 100vh;
  grid-template-rows: 200px 1fr 100px;
  grid-template-columns: 1fr;
  grid-template-areas: "head" "main" "nav";
  background-color: var(--background);

}

header {
  grid-area: head;
  max-width: 400px;
  width: 90%;
  gap: 7px;
  justify-content: space-between;
  margin: auto;
}

header svg, input, button {
  cursor: pointer;
}


nav {
  grid-area: nav;
}

main {
  grid-area: main;
}